
<p>
<button (click)="testValue()" style="padding: 6px 12px;line-height: 1.4;color: #fff;background-color: #4a4e69;">check Value from Service</button>

</p>
<button (click)="testValueUsingEmitter()" style="padding: 6px 12px;line-height: 1.4;color: #fff;background-color: #4a4e69;">check Value from EventEmiiter</button>
<p>
  <input type="text" [(ngModel)]="searchText"/>
</p>
<p>Display Colors</p>

<ul *ngFor="let color of colors | filter : searchText" class="displayColors">
  <li>{{color}}</li>
</ul>


<app-student-form></app-student-form>